.mecntd{
    margin-left: -10px !important;
}
.cnctd-msg{
    font-size: 12px;
}
.msg-box-receive{
    width: 40vh;
    background-color: #e6ebf5;
    color: #475b7a;
    border-top-right-radius: 16px ;
    border-bottom-left-radius: 16px ;
    border-bottom-right-radius: 16px ;
}

.msg-box-sent{
    width: 40vh;
    background-color: rgb(0 123 255 / 67%);
    color: white;
    border-top-left-radius: 16px ;
    border-bottom-left-radius: 16px ;
    border-bottom-right-radius: 16px ;
}
.watch-icon{
    font-size: 16px !important;
}