.MuiAppBar-colorPrimary{
    background-color: transparent !important;
    color: gray;
}
.MuiPaper-elevation4{
    box-shadow: none !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    padding-top: 10px;
    padding-bottom: 10px;

}
.focus-none:focus{
    outline: none !important;
}
.MuiToolbar-gutters{
    padding-left: 0px !important;
    padding-right: 0px !important;
}