
.chat_room_header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    width: 100%;
}

::-webkit-scrollbar{
    width: 6px !important;
    height: 20px !important;
  }
  ::-webkit-scrollbar-thumb{
  background-color: rgb(202, 195, 195) !important;
  border-radius: 20px !important;
  }